        <div class="leftCol">
            <ul class="partMenu">
                <li>
                    <div class="partMenuHeader">
                        <a href="/content/foreword.html">Preface</a>
                    </div>
                    <ul>
                        <li><a href="/content/foreword.html#Acknowledgements">Acknowledgements</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="partMenu">
                <li>
                    <div class="partMenuHeader">
                        <a href="/content/why.html">PART 1 - Getting started</a>
                    </div>
                    <ul>
                        <li><a href="/content/why.html#WhyRx">Why Rx?</a> </li>
                        <li><a href="/content/key-types.html#KeyTypes">Key types</a> </li>
                        <li><a href="/content/lifetime-management.html#LifetimeManagement">Lifetime
                            management</a> </li>
                    </ul>
                </li>
            </ul>
            <ul class="partMenu">
                <li>
                    <div class="partMenuHeader">
                        <a href="/content/creating-sequences.html">PART 2 - Sequence basics</a>
                    </div>
                    <ul>
                        <li><a href="/content/creating-sequences.html#CreationOfObservables">Creating a sequence</a> </li>
                        <li><a href="/content/filtering.html#Reduction">Reducing a sequence</a>
                        </li>
                        <li><a href="/content/inspection.html#Inspection">Inspection</a>
                        </li>
                        <li><a href="/content/aggregation.html#Aggregation">Aggregation</a>
                        </li>
                        <li><a href="/content/transformation.html#TransformationOfSequences">Transformation of sequences</a> </li>
                    </ul>
                </li>
            </ul>
            <ul class="partMenu">
                <li>
                    <div class="partMenuHeader">
                        <a href="/content/side-effects.html">PART
                        3 - Taming the sequence</a>
                    </div>
                    <ul>
                        <li><a href="/content/side-effects.html#SideEffects">Side-effects</a>
                        </li>
                        <li><a href="/content/leaving-the-monad.html#LeavingTheMonad">Leaving the
                            monad</a> </li>
                        <li><a href="Content/v1.0.10621.0/11_AdvancedErrorHandling.html#AdvancedErrorHandling">Advanced error handling</a> </li>
                        <li><a href="Content/v1.0.10621.0/12_CombiningSequences.html#CombiningMultipleSequences">Combining sequences</a> </li>
                        <li><a href="Content/v1.0.10621.0/13_TimeShiftedSequences.html#TimeShiftedSequences">Time-shifted sequences</a> </li>
                        <li><a href="Content/v1.0.10621.0/14_HotAndColdObservables.html#HotAndCold">Hot and
                            Cold observables</a> </li>
                    </ul>
                </li>
            </ul>
            <ul class="partMenu">
                <li>
                    <div class="partMenuHeader">
                        <a href="Content/v1.0.10621.0/15_SchedulingAndThreading.html">PART 4 - Concurrency</a>
                    </div>
                    <ul>
                        <li><a href="Content/v1.0.10621.0/15_SchedulingAndThreading.html#SchedulingAndThreading">Scheduling and threading</a> </li>
                        <li><a href="Content/v1.0.10621.0/16_TestingRx.html#TestingRx">Testing Rx</a> </li>
                        <li><a href="Content/v1.0.10621.0/17_SequencesOfCoincidence.html#SequencesOfCoincidence">Sequences of coincidence</a> </li>
                        <li><a href="Content/v1.0.10621.0/17_SequencesOfCoincidence.html#Summary">Summary</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="partMenu">
                <li>
                    <div class="partMenuHeader">
                        <a href="Content/v1.0.10621.0/18_UsageGuidelines.html">Appendix</a>
                    </div>
                    <ul>
                        <li><a href="Content/v1.0.10621.0/18_UsageGuidelines.html#UsageGuidelines">Usage guidelines</a>
                        </li>
                        <li><a href="Content/v1.0.10621.0/19_DispellingMyths.html#DispellingMyths">Dispelling
                            myths</a> </li>
                        <li><a href="Content/v1.0.10621.0/20_Disposables.html#Disposables">Disposables</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
