            <div class="webonly">
                <h1 class="ignoreToc">Additional recommended reading</h1>
                <div align="center">
                    <div style="display: inline-block; vertical-align: top; margin: 10px; width: 140px; font-size: 11px; text-align: center">
                        <!--C# in a nutshell Amazon.co.uk-->
                        <iframe src="http://rcm-uk.amazon.co.uk/e/cm?t=int0b-21&amp;o=2&amp;p=8&amp;l=as1&amp;asins=B008E6I1K8&amp;ref=qf_sp_asin_til&amp;fc1=000000&amp;IS2=1&amp;lt1=_blank&amp;m=amazon&amp;lc1=0000FF&amp;bc1=000000&amp;bg1=FFFFFF&amp;f=ifr"
                            style="width: 120px; height: 240px; margin: 10px"
                            scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

                    </div>
                    <div style="display: inline-block; vertical-align: top; margin: 10px; width: 140px; font-size: 11px; text-align: center">
                        <!--C# Linq pocket reference Amazon.co.uk-->
                        <iframe src="http://rcm-uk.amazon.co.uk/e/cm?t=int0b-21&amp;o=2&amp;p=8&amp;l=as1&amp;asins=0596519249&amp;ref=qf_sp_asin_til&amp;fc1=000000&amp;IS2=1&amp;lt1=_blank&amp;m=amazon&amp;lc1=0000FF&amp;bc1=000000&amp;bg1=FFFFFF&amp;f=ifr"
                            style="width: 120px; height: 240px; margin: 10px"
                            scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
                    </div>

                    <div style="display: inline-block; vertical-align: top; margin: 10px; width: 140px; font-size: 11px; text-align: center">
                        <!--CLR via C# v4 Amazon.co.uk-->
                        <iframe src="http://rcm-uk.amazon.co.uk/e/cm?t=int0b-21&amp;o=2&amp;p=8&amp;l=as1&amp;asins=B00AA36R4U&amp;ref=qf_sp_asin_til&amp;fc1=000000&amp;IS2=1&amp;lt1=_blank&amp;m=amazon&amp;lc1=0000FF&amp;bc1=000000&amp;bg1=FFFFFF&amp;f=ifr"
                            style="width: 120px; height: 240px; margin: 10px"
                            scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

                    </div>
                    <div style="display: inline-block; vertical-align: top; margin: 10px; width: 140px; font-size: 11px; text-align: center">
                        <!--Real-world functional programming Amazon.co.uk-->
                        <iframe src="http://rcm-uk.amazon.co.uk/e/cm?t=int0b-21&amp;o=2&amp;p=8&amp;l=as1&amp;asins=1933988924&amp;ref=qf_sp_asin_til&amp;fc1=000000&amp;IS2=1&amp;lt1=_blank&amp;m=amazon&amp;lc1=0000FF&amp;bc1=000000&amp;bg1=FFFFFF&amp;f=ifr"
                            style="width: 120px; height: 240px; margin: 10px"
                            scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

                    </div>
                </div>
            </div>
