<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Introduction to Rx</title>
    <link href="{{ site.baseurl}}/css/Site.css" rel="stylesheet" type="text/css" />
    <!--Google analytics-->
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-32704657-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
</head>
<body>
    <div class="page">
        {% include header.html %}
        {% include sidebar.html %}
        <div class="main">
            <div style="float: right; margin: 10px 0px 10px 10px; width: 140px; font-size: 11px; text-align: center">
                <img src="{{ site.baseurl}}/css/IntroToRx_Cover.png" style="margin: 10px" />
                Lee Campbell<br />
                <a href="Content/v1.0.10621.0/IntroToRx.mobi" title="Introduction to Rx as .mobi file (for Kindle)">Introduction to Rx<br />
                    Kindle edition</a> (2012)
            </div>

            {{ content }}

            <hr />

            {% include recommendations.html %}

        </div>
        <div class="footer">
            Original series @ <a href="http://leecampbell.blogspot.com/2010/08/reactive-extensions-for-net.html">Lee Campbell</a>
        </div>
    </div>
</body>
</html>



